// These colors are specific to the theme. Do not use in a package!

@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, 0.6);
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@selection: #004964;

@coffee: #2F2C28;
@cyan: #8abeb7;
@blue: #11BAB4;
@purple: #b294bb;
@yellow: #E79B25;
@red: #E74C3C;
@orange: #E84A4A;
@light-orange: #E7DCB9;
@cursor: #FFE800;
