// These colors are specific to the theme. Do not use in a package!

@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, .6);
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@selection: #004964;
@whiter: #D4D4D4;
@this: #e76b4c;

@coffee: #373532;
@cyan: #A4CC87; //green
@blue: #C3CCA2;
@purple: #b294bb;
@yellow: #F5B58C;
@red: #D84A4A;
@orange: #e86565;
@light-orange: #e7dfc6;
@cursor: #feef59;

@keyword: #D23535;
@cacs: #B7593A;
@nameFunc: #FF8F46;
@punctuation: #FF6200;
@ghost: #fff;
